*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    color: #fff;
}

header{
    background-color: aqua;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

form{
    border-radius: 50px;
}

.search{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    bottom: 2px solid;
    background-color: transparent;
    font-family: inherit;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}

.search::placeholder{
    color: #d4d4d4;
}

.search:focus{
    outline: none;
}

#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.movie{
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    /* width: 100%; */
    height: 500px;
    background-color: #232826;
    margin: 1rem;
    overflow: hidden;
    position: relative;
}

.movie img{
    /* width: 300px; */
    /* margin: 2rem; */
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-info{
    display: flex;
    justify-content: space-between;
    position: 0.5rem 1rem 1rem;
    color: #000;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(46,194,46);
}
.movie-info span.yellow{
    color: yellow;
}
.movie-info span.red{
    color: red;
}

.overview{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 1s ease-in;
  min-width: 100%;
  overflow: auto;
  color: #000;
}

.movie:hover .overview{
    transform: translate(0);
}

.overview h4{
    margin-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:800px) {
    #main{
        display: block;
    }
}